{% extends 'base.html' %} {% block content %}
<main>
  <aside>
    <section class="container" id="container">
      <div class="post-header">
        <span class="font-weight-bold"><h2>{{ post.title }}</h2></span> -
        <span class="text-muted"
          >by {{ post.author }} {{ post.date_time }}
        </span>
        <p>{{ post.body }}</p>
      </div>
      <a href="{% url 'post_edit' post.pk %}">Edit</a> |
      <a href="{% url 'post_delete' post.pk %}">Delete</a>

      <br /><br />

      <!-- COMMENTS  -->
      <h3>Leave a comment!</h3>
      <div id="comments_section">
        
        {% if user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{ comment_form }}
            <button class="btn btn-info" type="submit">
              Add comment <i class="fas fa-comments"></i>
            </button>
          </div>
        </form>
        {% else %}
        <a
          class="btn btn-outline-info"
          href="{% url 'login' %}?next={{request.path}}"
          >Log in to add a comment!</a
        ><br />
        {% endif %} {% if comments %}
        <strong class="text-secondary"
          {{ object.number_of_comments }} Comment{{
          object.number_of_comments|pluralize }}</strong
        ></strong>
        <hr />
        <br />
        <ul>
          {% for comment in comments %}
          <li>
            <div>
              <span>
                <strong class="text-info">{{ comment.author }} </strong>
                <small class="text-muted">{{ comment.date_posted }}</small>
              </span>
              <p>{{ comment.body|safe }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <strong class="text-secondary">No comments yet...</strong>
        {% endif %}
      </div>
    </section>
  </aside>
</main>
{% endblock content %}
